#!/usr/bin/env python

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("lambda_ema_alpha", double_t, 0, "EMA alpha for maneuver indicator lambda", 0.3, 0.01, 1.0)
gen.add("nis_baseline_alpha", double_t, 0, "EMA alpha for NIS baseline (higher means faster adaptation to changes in noise level)", 0.01, 0.001, 1.0)

#adaptTPM
gen.add("sigmoid_k", double_t, 0, "Sigmoid steepness for TPM adaptation", 2.0, 0.1, 10.0)
gen.add("maneuver_gain", double_t, 0, "Additional gain factor for TPM adaptation (optional, can be tuned to make TPM more or less sensitive to λ)", 1.0, 0.1, 10.0)

gen.add("p_stay_min", double_t, 0, "Minimum probability of staying in same model (high maneuver)", 0.60, 0.1, 0.99)
gen.add("p_stay_max", double_t, 0, "Maximum probability of staying in same model (smooth motion)", 0.98, 0.1, 0.99)
gen.add("p_stay_nominal", double_t, 0, "Nominal probability of staying in same model", 0.90, 0.1, 0.99)
gen.add("q_scale_max", double_t, 0, "Maximum process noise scale factor during maneuvers", 10.0, 1.0, 150.0)

exit(gen.generate("rm_track", "rm_track", "aimm"))
