#!/usr/bin/env python
# -*- coding: utf-8 -*-

PACKAGE = "rm_radarplugin"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

# Position Noise Group
pos_group = gen.add_group("PositionNoise")
pos_group.add("q_x", double_t, 0, "Process noise for X position", 0.1, 0.001, 10.0)
pos_group.add("q_y", double_t, 0, "Process noise for Y position", 0.1, 0.001, 10.0)
pos_group.add("q_z", double_t, 0, "Process noise for Z position", 0.1, 0.001, 10.0)

# Velocity Noise Group
vel_group = gen.add_group("VelocityNoise")
vel_group.add("q_v", double_t, 0, "Process noise for velocity", 0.5, 0.001, 50.0)
vel_group.add("q_vz", double_t, 0, "Process noise for Z velocity", 0.5, 0.001, 50.0)

# Angular Noise Group
angular_group = gen.add_group("AngularNoise")
angular_group.add("q_yaw", double_t, 0, "Process noise for yaw angle", 0.1, 0.001, 10.0)
angular_group.add("q_yaw_rate", double_t, 0, "Process noise for yaw rate", 0.1, 0.001, 10.0)

exit(gen.generate(PACKAGE, "rm_radarplugin", "ctrv"))