PACKAGE = "rm_track"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

# Measurement Noise Group
r_group = gen.add_group("MeasurementNoise")
r_group.add("r_pos_xy", double_t, 0, "Measurement noise for position XY", 0.001, 0.0001, 1.0)
r_group.add("r_pos_z",  double_t, 0, "Measurement noise for position Z",  0.5, 0.0001, 1.0)
r_group.add("r_yaw", double_t, 0, "R matrix yaw std", 0.01, 0.0001, 1.0)

# Debug Group
debug_group = gen.add_group("Debug")
debug_group.add("debug_mode", bool_t, 0, "enable debug info", False)

exit(gen.generate(PACKAGE, "rm_track", "ukf"))