PACKAGE = "rm_track"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

# Debug Group
debug_group = gen.add_group("Debug")
debug_group.add("debug_mode", bool_t, 0, "enable debug info", False)

exit(gen.generate(PACKAGE, "rm_track", "ukf"))