PACKAGE = "rm_radar_img_proc"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

#gen.add("bar_br_thresh", int_t, 0, "", 50, 0, 255)

# General Strategy Group
strategy_group = gen.add_group("GeneralStrategy")
select_bar_enum = gen.enum([gen.const("Pass", int_t, 0, "Pass all contours"),
                          gen.const("Select", int_t, 1, "Select contours based on rules")],
                         "Light bar selection mode")
strategy_group.add("select_bar", int_t, 0, "Enable light bar selection", 1, 0, 1, edit_method=select_bar_enum)
strategy_group.add("select_by_last", bool_t, 0, "Prioritize armor closest to last target", False)

# Debug Group
debug_group = gen.add_group("Debug")
debug_group.add("is_bar_debug", bool_t, 0, "Enable light bar debug view", False)
debug_group.add("is_armor_debug", bool_t, 0, "Enable armor debug view", False)

# Light Bar Filter Group
light_bar_group = gen.add_group("LightBarFilter")
light_bar_group.add("max_angle_diff", double_t, 0, "Max angle deviation from vertical (90 deg)", 45, 0, 90)
light_bar_group.add("min_lw_ratio", double_t, 0, "Min length/width ratio for light bar", 1.0, 0, 4)
light_bar_group.add("max_lw_ratio", double_t, 0, "Max length/width ratio for light bar", 14, 0, 20)
light_bar_group.add("min_pixel_contained_ratio", double_t, 0, "Min ratio of pixels contained in contour", 0.38, 0.3, 1)

# Armor Pairing Filter Group
armor_pairing_group = gen.add_group("ArmorPairingFilter")
armor_pairing_group.add("max_bars_ratio", double_t, 0, "Max length ratio between two light bars", 2.2, 1, 3)
armor_pairing_group.add("min_bars_distance", double_t, 0, "Min distance between two light bars", 0.25, 0, 5)
armor_pairing_group.add("max_bars_distance", double_t, 0, "Max distance between two light bars", 3.0, 0, 10)
armor_pairing_group.add("max_bars_angle", double_t, 0, "Max angle difference between two light bars", 18, 0, 90)
armor_pairing_group.add("max_bars_x_dis", double_t, 0, "Max horizontal distance ratio between bars", 0.7, 0, 1)



exit(gen.generate(PACKAGE, "rm_radar_imgProc", "Armor"))