PACKAGE = "rm_radar_img_proc"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

# Visualization Group
vis_group = gen.add_group("Visualization")

draw_type = gen.enum([gen.const("DISABLE", int_t, 0, "Disable all drawing"),
                       gen.const("RAW", int_t, 1, "Show raw image"),
                       gen.const("BINARY", int_t, 2, "Show binary image"),
                       gen.const("MORPHOLOGY", int_t, 3, "Show morphology result"),
                       gen.const("BARS", int_t, 4, "Show detected light bars"),
                       gen.const("ARMORS", int_t, 5, "Show detected armors"),
                       gen.const("ARMORS_VERTEXES", int_t, 6, "Show armor vertices"),
                       gen.const("BARS_ARMORS", int_t, 7, "Show bars and armors"),
                       gen.const("WARP", int_t, 8, "Show warped number image"),
                       gen.const("PROJECT", int_t, 9, "Show projection points"),
                       gen.const("TRACKER", int_t, 10, "Show tracker info")], "Debug image type selection")

vis_group.add("draw_type", int_t, 0, "Debug Image Type", 10, 0, 10, edit_method=draw_type)
vis_group.add("line_width", int_t, 0, "Line width for drawings", 2, 1, 5)
vis_group.add("show_fps", bool_t, 0, "Show FPS on screen", True)

exit(gen.generate(PACKAGE, "rm_radar_imgProc", "Draw"))