PACKAGE = "rm_radar_img_proc"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

# General Settings Group
general_group = gen.add_group("General")
target_color = gen.enum([gen.const("Blue", int_t, 0, "Blue"),
                       gen.const("Red", int_t, 1, "Red")], "Target color selection")
general_group.add("target_color", int_t, 0, "Target Color", 1, 0, 1, edit_method=target_color)

preprocess_method = gen.enum([gen.const("HSV", int_t, 0, "HSV color space"),
                              gen.const("single_channel", int_t, 1, "Single channel thresholding")], "Preprocessing method selection")
general_group.add("preprocess_method", int_t, 0, "Preprocessing Method", 1, 0, 1, edit_method=preprocess_method)

# HSV Red Thresholds Group
hsv_red_group = gen.add_group("HSV_Red")
hsv_red_group.add("red_h_max_low", int_t, 0, "Red H-Max (Low Range)", 25, 0, 180)
hsv_red_group.add("red_h_min_low", int_t, 0, "Red H-Min (Low Range)", 0, 0, 180)
hsv_red_group.add("red_h_max_high", int_t, 0, "Red H-Max (High Range)", 180, 0, 180)
hsv_red_group.add("red_h_min_high", int_t, 0, "Red H-Min (High Range)", 156, 0, 180)
hsv_red_group.add("red_s_max", int_t, 0, "Red S-Max", 255, 0, 255)
hsv_red_group.add("red_s_min", int_t, 0, "Red S-Min", 43, 0, 255)
hsv_red_group.add("red_v_max", int_t, 0, "Red V-Max", 255, 0, 255)
hsv_red_group.add("red_v_min", int_t, 0, "Red V-Min", 150, 0, 255)

# HSV Blue Thresholds Group
hsv_blue_group = gen.add_group("HSV_Blue")
hsv_blue_group.add("blue_h_max", int_t, 0, "Blue H-Max", 120, 0, 180)
hsv_blue_group.add("blue_h_min", int_t, 0, "Blue H-Min", 80, 0, 180)
hsv_blue_group.add("blue_s_max", int_t, 0, "Blue S-Max", 255, 0, 255)
hsv_blue_group.add("blue_s_min", int_t, 0, "Blue S-Min", 30, 0, 255)
hsv_blue_group.add("blue_v_max", int_t, 0, "Blue V-Max", 255, 0, 255)
hsv_blue_group.add("blue_v_min", int_t, 0, "Blue V-Min", 190, 0, 255)

# Single Channel Threshold Group
single_channel_group = gen.add_group("SingleChannel")
single_channel_group.add("binary_thresh", int_t, 0, "Binary Threshold", 57, 0, 255)

# Morphology Group
morphology_group = gen.add_group("Morphology")
morphology_group.add("binary_element", int_t, 0, "Element size for open/close operations", 6, 1, 11)

morph_type = gen.enum([gen.const("ERODE", int_t, 0, "ERODE"),
                       gen.const("DILATE", int_t, 1, "DILATE"),
                       gen.const("OPEN", int_t, 2, "OPEN"),
                       gen.const("CLOSE", int_t, 3, "CLOSE"),
                       gen.const("GRADIENT", int_t, 4, "GRADIENT"),
                       gen.const("TOPHAT", int_t, 5, "TOPHAT"),
                       gen.const("BLACKHAT", int_t, 6, "BLACKHAT"),
                       gen.const("HITMISS", int_t, 7, "HITMISS"),
                       gen.const("DISABLE", int_t, 8, "DISABLE"),], "Morphological operation type")

morphology_group.add("morph_type", int_t, 0, "Morphological Operation", 3, 0, 8, edit_method=morph_type)

exit(gen.generate(PACKAGE, "rm_radar_imgProc", "Preprocess"))